* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-family: Figtree;
  margin-top: 0;
  margin-bottom: 0;
}


body {
  width: 1440px;
  background-color: #f4d04e;
}

.container-card {
  width: 365px;
  height: 490px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 6px 9px 0px 0px rgba(18, 18, 18, 1);
  background-color: #ffffff;
}

.Picture-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 7px;
}

.Picture-card svg{
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 16px;
}

.Info-card {
  margin-left: 15px;
}

.Learning-btn {
  background-color: #f4d04e;
  color: black;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}



.Info-card h5 {
  font-family: Figtree;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.Info-card h2 {
  font-weight: 800;
  font-family: Figtree;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}

.Info-card h2:hover{
  color: #f4d04e;
}



 .Description-text {
  width: 350px;
  font-size: 17px;
  line-height: 25px;
  color: #808080;
  margin-bottom: 16px;
}

.profile-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
}

.pfp-pic {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.profile-card p {
  font-weight: 800;
}